body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:100px;
  width:550px;
  height:443px;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:232px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:232px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:122px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:232px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:232px;
  font-size:16px;
  text-align:left;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:415px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:232px;
  width:419px;
  height:71px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:415px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:65px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:126px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:122px;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:65px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:303px;
  width:419px;
  height:65px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:415px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:368px;
  width:419px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:415px;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:97px;
  height:37px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:437px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:106px;
  width:374px;
  height:437px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:510px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:545px;
  width:368px;
  height:510px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:247px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:525px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:1073px;
  width:371px;
  height:525px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:254px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
