body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:162px;
  width:550px;
  height:443px;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:232px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:232px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:122px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:232px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:232px;
  font-size:16px;
  text-align:left;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:415px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:232px;
  width:419px;
  height:71px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:415px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:65px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:126px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:122px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:65px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:303px;
  width:419px;
  height:65px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:415px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:368px;
  width:419px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:415px;
  word-wrap:break-word;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:97px;
  height:37px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:437px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:106px;
  width:374px;
  height:437px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:510px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:545px;
  width:368px;
  height:510px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:247px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:525px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:1073px;
  width:371px;
  height:525px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:254px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:106px;
  width:517px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  word-wrap:break-word;
}
