body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:102px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:151px;
  width:374px;
  height:101px;
  font-size:16px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:370px;
  word-wrap:break-word;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:97px;
  height:37px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:141px;
  width:550px;
  height:278px;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:67px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:67px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:122px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:67px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:67px;
  font-size:16px;
  text-align:left;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:415px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:67px;
  width:419px;
  height:71px;
  font-size:16px;
  text-align:left;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:415px;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:65px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:126px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:122px;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:65px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:138px;
  width:419px;
  height:65px;
  font-size:16px;
  text-align:left;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:415px;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:203px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:203px;
  width:419px;
  height:70px;
  font-size:16px;
  text-align:left;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
