body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:97px;
  height:37px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:141px;
  width:550px;
  height:278px;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:67px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:67px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:122px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:67px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:67px;
  font-size:16px;
  text-align:left;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:415px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:67px;
  width:419px;
  height:71px;
  font-size:16px;
  text-align:left;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:415px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:65px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:126px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:122px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:65px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:138px;
  width:419px;
  height:65px;
  font-size:16px;
  text-align:left;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:415px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:203px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:203px;
  width:419px;
  height:70px;
  font-size:16px;
  text-align:left;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:132px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:147px;
  width:335px;
  height:132px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
