body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:70px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:86px;
  height:69px;
  font-size:16px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  word-wrap:break-word;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:100px;
  width:550px;
  height:307px;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:122px;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:81px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:81px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:415px;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:81px;
  width:419px;
  height:71px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:415px;
  word-wrap:break-word;
}
#u1441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:126px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:122px;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:80px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:152px;
  width:419px;
  height:80px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:415px;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:232px;
  width:419px;
  height:70px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u1449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:225px;
  height:37px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
