body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:70px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:86px;
  height:69px;
  font-size:16px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  word-wrap:break-word;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:100px;
  width:550px;
  height:307px;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:122px;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:81px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:81px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:415px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:81px;
  width:419px;
  height:71px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:415px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:126px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:122px;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:80px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:152px;
  width:419px;
  height:80px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:415px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:232px;
  width:419px;
  height:70px;
  font-size:16px;
  text-align:left;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:415px;
  word-wrap:break-word;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:225px;
  height:37px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
