body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1148px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:46px;
  width:1054px;
  height:107px;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:0px;
  width:140px;
  height:30px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:0px;
  width:101px;
  height:30px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:30px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:0px;
  width:546px;
  height:30px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:542px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:262px;
  height:36px;
  color:#FF0000;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:30px;
  width:140px;
  height:36px;
  color:#FF0000;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:30px;
  width:101px;
  height:36px;
  color:#FF0000;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:36px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:30px;
  width:546px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:262px;
  height:36px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:66px;
  width:140px;
  height:36px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:66px;
  width:101px;
  height:36px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:36px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:66px;
  width:546px;
  height:36px;
  text-align:left;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:542px;
  word-wrap:break-word;
}
