body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1148px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:46px;
  width:1054px;
  height:107px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:0px;
  width:140px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:0px;
  width:101px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:0px;
  width:546px;
  height:30px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:542px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:262px;
  height:36px;
  color:#FF0000;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:30px;
  width:140px;
  height:36px;
  color:#FF0000;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:30px;
  width:101px;
  height:36px;
  color:#FF0000;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:36px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:30px;
  width:546px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:262px;
  height:36px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:66px;
  width:140px;
  height:36px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:66px;
  width:101px;
  height:36px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:36px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:66px;
  width:546px;
  height:36px;
  text-align:left;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:542px;
  word-wrap:break-word;
}
