body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:805px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:92px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:108px;
  height:92px;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:104px;
  word-wrap:break-word;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:100px;
  width:550px;
  height:307px;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:122px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:81px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:81px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:415px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:81px;
  width:419px;
  height:71px;
  font-size:16px;
  text-align:left;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:415px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:126px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:122px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:80px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:152px;
  width:419px;
  height:80px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:415px;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:232px;
  width:419px;
  height:70px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:225px;
  height:37px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
