body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:100px;
  width:550px;
  height:334px;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:123px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:123px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:122px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:123px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:123px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:415px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:123px;
  width:419px;
  height:71px;
  font-size:16px;
  text-align:left;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:65px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:194px;
  width:126px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:122px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:65px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:194px;
  width:419px;
  height:65px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:415px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:259px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:259px;
  width:419px;
  height:70px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:106px;
  height:37px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:336px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:369px;
  height:336px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
