body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:100px;
  width:550px;
  height:334px;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:123px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:123px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:122px;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:123px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:123px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:415px;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:123px;
  width:419px;
  height:71px;
  font-size:16px;
  text-align:left;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:65px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:194px;
  width:126px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:122px;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:65px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:194px;
  width:419px;
  height:65px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:415px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:259px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:259px;
  width:419px;
  height:70px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:106px;
  height:37px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:336px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:369px;
  height:336px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
