body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:46px;
  width:862px;
  height:71px;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:30px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:677px;
  height:30px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:673px;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:180px;
  height:36px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:36px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:30px;
  width:677px;
  height:36px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:673px;
  word-wrap:break-word;
}
