body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:46px;
  width:862px;
  height:71px;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:30px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:677px;
  height:30px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:673px;
  word-wrap:break-word;
}
#u1325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:180px;
  height:36px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:36px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:30px;
  width:677px;
  height:36px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:673px;
  word-wrap:break-word;
}
