body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:46px;
  width:862px;
  height:71px;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:30px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:677px;
  height:30px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:673px;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:180px;
  height:36px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:36px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:30px;
  width:677px;
  height:36px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:673px;
  word-wrap:break-word;
}
