body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:100px;
  width:550px;
  height:307px;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:122px;
  word-wrap:break-word;
}
#u1505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:81px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:81px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:415px;
  word-wrap:break-word;
}
#u1507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:81px;
  width:419px;
  height:71px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u1511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:126px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:122px;
  word-wrap:break-word;
}
#u1513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:80px;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:152px;
  width:419px;
  height:80px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:415px;
  word-wrap:break-word;
}
#u1515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:232px;
  width:419px;
  height:70px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u1520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:63px;
  height:40px;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u1522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:307px;
  height:37px;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
