body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1073px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:100px;
  width:550px;
  height:405px;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:194px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:194px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:122px;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:194px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:194px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:415px;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:194px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:194px;
  width:419px;
  height:71px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:65px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:265px;
  width:126px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:122px;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:65px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:265px;
  width:419px;
  height:65px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:415px;
  word-wrap:break-word;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:330px;
  width:419px;
  height:70px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:129px;
  height:37px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:77px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:106px;
  width:379px;
  height:77px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
