body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:8394px;
}
#u9580 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:8394px;
}
#u9581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4189px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:8660px;
}
#u9582 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:100px;
  width:750px;
  height:8660px;
}
#u9583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4322px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
