body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:831px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:108px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:148px;
  height:107px;
  font-size:20px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:144px;
  word-wrap:break-word;
}
#u1692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:107px;
  width:12px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:100px;
  width:550px;
  height:307px;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:122px;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:81px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:81px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:415px;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:81px;
  width:419px;
  height:71px;
  font-size:16px;
  text-align:left;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:415px;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:126px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:122px;
  word-wrap:break-word;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:80px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:152px;
  width:419px;
  height:80px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:415px;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:232px;
  width:419px;
  height:70px;
  font-size:16px;
  text-align:left;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:415px;
  word-wrap:break-word;
}
#u1711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:53px;
  width:289px;
  height:37px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
