body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1081px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:161px;
  height:37px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:156px;
  width:172px;
  height:69px;
  font-size:16px;
  color:#666666;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:168px;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:156px;
  width:192px;
  height:69px;
  font-size:16px;
  color:#666666;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:188px;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:156px;
  width:550px;
  height:334px;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:123px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:123px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:122px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:123px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:419px;
  height:123px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:415px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:71px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:126px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:71px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:123px;
  width:419px;
  height:71px;
  font-size:16px;
  text-align:left;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:415px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:65px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:194px;
  width:126px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:122px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:65px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:194px;
  width:419px;
  height:65px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:415px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:259px;
  width:126px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:122px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:70px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:259px;
  width:419px;
  height:70px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:415px;
  word-wrap:break-word;
}
